body {
  background-color: #fff;
  text-align: center;
  color: #fff;
}

#p5canvas {
  background-color: #2dc5f4;
  position: absolute;
  width: 850px;
  height: 680px;
  margin-top: 200px;
  left: 50%;
  margin-left: -425px;
}

#topper{
  width:850px;
  margin-top:-250px;
  left:50%;
}

#thanks {
  font-size: 150%;
}

#defaultCanvas0{
  margin-top: 25px;
}

.github-corner:hover .octo-arm {
  z-index: 2;
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
